.planet{
    
}

.mars {
    background-color:red
}

.saturn {
    background-color:silver
}

.jupiter {
    background-color:blue
}
.mercury {
    background-color:green
}
.venus {
    background-color:yellow
}
.earth {
    background-color:white
}

.uranus{
background-color:black
}
